page-core-login-credentials {
  .item-md.item-block .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus)
    .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
  .list-md .item-input.input-has-focus:last-child,
  .list-md
    .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }
  .list-md .item-input.input-has-focus:last-child .item-inner,
  .list-md
    .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child
    .item-inner,
  .list-md
    .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child
    .item-inner {
    box-shadow: none;
  }  
  .header.header-ios {
    .title {
      padding: 0 20px 1px !important;
    }    
  }
  #toolbar-icon{
    height: 59px;
    width: auto;
    vertical-align: middle;    
  }

  .scroll-content {
    //background: $core-login-page-background-color;
  }

  img {
    max-width: 100%;
  }

  img.login-logo {
    width: 90%;
    max-width: 300px;
  }

  .box {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 40px;
    /* background: $core-login-box-background-color;
        border: 1px solid $core-login-box-background-border; */
    color: $core-login-box-text-color;
  }

  .core-sitename,
  .core-siteurl {
    @if $core-fixed-url {
      display: none;
    }
  }

  @if $core-login-button-outline {
    .button-md.button-default-md {
      @extend .button-md-light;
    }
  }

  @if $core-login-loading-color {
    .core-loading-container {
      color: $core-login-loading-color;

      .spinner circle,
      .spinner line {
        stroke: $core-login-loading-color;
      }
    }
  }

  .item-input {
    margin-bottom: 20px;
  }
  #panel-welcome {
    background: rgba(255, 255, 255, 0.2);
    color: white !important;

    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

    div p {
      display: inline;
      font-size: 1.8rem;
    }
    div h4 {
      display: inline;
      font-size: 2.3rem;
      font-weight: bold;
    }
    div h3 {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  .border-radius {
    border: 2px solid white;
    border-radius: 10px !important;
  }
  .button-login {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    background: #b44f31;
    font-size: 2rem;
  }
  .margin-bottom {
    margin-bottom: 20px !important;
  }
  .text-box-login {
    background: none;
    color: white !important;
  }
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }

  #dlt-header {
    .login-logo {
      height: 59px;
      width: auto;
      vertical-align: middle;
    }

    .toolbar {
      padding: 0;
	}
	
  }
  .login-wrapper {
    background: url("../assets/img/bg-login.png") center center;
    background-size: cover;
  }
  .link-white {
    color: white !important;
  } 
}
