<ion-header id="dlt-header">
    <ion-navbar>
        <ion-title>
        	<img src="assets/img/logo-toolbar.png" class="login-logo">
        	TOP LEARNING
		</ion-title>
		<ion-buttons end>
            <button ion-button icon-only [navPush]="'CoreSettingsListPage'" [attr.aria-label]="'core.mainmenu.appsettings' | translate">
                <ion-icon name="cog"></ion-icon>
			</button>
			</ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="core-center-view login-wrapper">
    <core-loading [hideUntil]="pageLoaded">
        <div>
            <div text-wrap text-center>
                <!-- Show site logo or a default image. -->
                <!-- <img *ngIf="logoUrl" [src]="logoUrl" role="presentation">
                <img *ngIf="!logoUrl" src="assets/img/login_logo.png" class="login-logo" role="presentation"> -->
                
                <div id="panel-welcome">
					<div>
							<p>Chào mừng bạn đến với </p>
							<h4>ỨNG DỤNG</h4>
					</div>
                	<div>
							<h3>học trực tuyến</h3>
					</div>
                	
                </div>

                <!-- If no sitename show big siteurl. -->
                <!-- <p *ngIf="!siteName" padding class="item-heading core-siteurl">{{siteUrl}}</p> -->
                <!-- If sitename, show big sitename and small siteurl. -->
                <!-- <p *ngIf="siteName" padding class="item-heading core-sitename"><core-format-text [text]="siteName"></core-format-text></p> -->
                <!-- <p *ngIf="siteName" class="core-siteurl">{{siteUrl}}</p> -->
            </div>
            <div class="box">
	            <form ion-list [formGroup]="credForm" (ngSubmit)="login()" id="dlt-login">
	                <ion-item *ngIf="siteChecked && !isBrowserSSO" class="border-radius margin-bottom text-box-login">
							<ion-icon name="contact" class="ion_icon" item-left large></ion-icon>
	                    <ion-input type="text" name="username" placeholder="Tên Đăng Nhập" formControlName="username" autocapitalize="none" autocorrect="off"></ion-input>
	                </ion-item>
	                <ion-item *ngIf="siteChecked && !isBrowserSSO" class="border-radius margin-bottom text-box-login">
							<ion-icon name="lock" class="ion_icon" item-left large></ion-icon>
	                    <core-show-password item-content [name]="'password'">
	                        <ion-input class="core-ioninput-password" name="password" type="password" placeholder="Mật Khẩu" formControlName="password" core-show-password></ion-input>
	                    </core-show-password>
					</ion-item>
					<button class="border-radius margin-bottom button-login"  ion-button block [disabled]="siteChecked && !isBrowserSSO && !credForm.valid">Đăng Nhập</button>
				
	            </form>
	
	            <!-- Forgotten password button. -->
	            <div padding-top text-center>
	                <a (click)="forgottenPassword()" class="link-white">Quên mật khẩu?</a>
	            </div>
	
	            <ion-list *ngIf="identityProviders && identityProviders.length" padding-top>
	                <ion-list-header text-wrap>{{ 'core.login.potentialidps' | translate }}</ion-list-header>
	                <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">
	                    <img [src]="provider.iconurl" alt="{{provider.name}}" item-start>
	                    {{provider.name}}
	                </button>
	            </ion-list>
	
	            <ion-list *ngIf="canSignup" padding-top>
	                <ion-list-header text-wrap>{{ 'core.login.firsttime' | translate }}</ion-list-header>
	                <ion-item no-lines text-wrap *ngIf="authInstructions">
	                    <p><core-format-text [text]="authInstructions"></core-format-text></p>
	                </ion-item>
	                <button ion-button block (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>
	            </ion-list>
	         </div>
        </div>
    </core-loading>
</ion-content>
