<ion-header>
  <ion-navbar>
    <ion-title>Khóa học trực tuyến (under development)</ion-title>
  </ion-navbar>
</ion-header>
<!-- <ion-content>
  <ion-list id="ion-list-online-course">
    <ion-card *ngFor="let course of courses" (click)="onCourseClicked(course)" padding>
        <p class="title">{{course.name}}</p>
        <hr>                                          
        <div class="left-panel"><img src="assets/img/logo-dlt.png"/></div>
        <div class="right-panel">
          <div class="top">
            <ion-icon name="time"></ion-icon>
            <span class="date-display">{{course.fromDate}}</span>
            <ion-icon name="arrow-round-forward"></ion-icon>
            <span class="date-display">{{course.toDate}}</span>
          </div>
          <div>
            <core-progress-bar [progress]="course.progress"></core-progress-bar>
          </div>
          <div class="bottom">
            <div class="person-panel">
              <ion-icon name="person" class="person-icon"></ion-icon>
              <span>100</span>
            </div>  
            <button ion-button outline>Kế Hoạch</button>
            <button ion-button outline>Đăng Ký</button>           
          </div>
        </div>
    </ion-card>
  </ion-list>
</ion-content> -->
<ion-content>
    <ion-refresher [enabled]="courses.loaded" (ionRefresh)="refreshMyOverview($event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content> 
        
    </ion-refresher>

    <core-loading [hideUntil]="courses.loaded" class="core-loading-center">
        <!-- "Time" selector. -->
        <div padding class="clearfix" [hidden]="showFilter" ion-row justify-content-between>
            <ion-select float-start [title]="'core.show' | translate" [(ngModel)]="courses.selected" ion-col (ngModelChange)="selectedChanged()" interface="popover" class="core-button-select">
                <ion-option value="inprogress">{{ 'core.courses.inprogress' | translate }}</ion-option>
                <ion-option value="future">{{ 'core.courses.future' | translate }}</ion-option>
                <ion-option value="past">{{ 'core.courses.past' | translate }}</ion-option>
            </ion-select>
            <!-- Download all courses. -->
            <div *ngIf="downloadAllCoursesEnabled && courses[courses.selected] && courses[courses.selected].length > 1" class="core-button-spinner">
                <button *ngIf="prefetchCoursesData[courses.selected].icon && prefetchCoursesData[courses.selected].icon != 'spinner'" ion-button icon-only clear color="dark" (click)="prefetchCourses()">
                    <core-icon [name]="prefetchCoursesData[courses.selected].icon"></core-icon>
                </button>
                <ion-badge class="core-course-download-courses-progress" *ngIf="prefetchCoursesData[courses.selected].badge">{{prefetchCoursesData[courses.selected].badge}}</ion-badge>
                <ion-spinner *ngIf="!prefetchCoursesData[courses.selected].icon || prefetchCoursesData[courses.selected].icon == 'spinner'"></ion-spinner>
            </div>
        </div>
        <core-empty-box *ngIf="courses[courses.selected].length == 0 && courses.selected == 'inprogress'" image="assets/img/icons/courses.svg" [message]="'core.courses.nocoursesinprogress' | translate"></core-empty-box>
        <core-empty-box *ngIf="courses[courses.selected].length == 0 && courses.selected == 'future'" image="assets/img/icons/courses.svg" [message]="'core.courses.nocoursesfuture' | translate"></core-empty-box>
        <core-empty-box *ngIf="courses[courses.selected].length == 0 && courses.selected == 'past'" image="assets/img/icons/courses.svg" [message]="'core.courses.nocoursespast' | translate"></core-empty-box>

        <!-- Filter courses. -->
        <ion-searchbar #searchbar *ngIf="showFilter" [(ngModel)]="courses.filter" (ionInput)="filterChanged($event)" (ionCancel)="filterChanged()" [placeholder]="'core.courses.filtermycourses' | translate">
        </ion-searchbar>
        <!-- List of courses. -->
        <div>
            <ion-grid no-padding>
                <ion-row no-padding>
                    <ion-col *ngFor="let course of filteredCourses" no-padding col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 align-self-stretch>
                        <course-item [course]="course" class="core-courseoverview"></course-item> 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </core-loading>
</ion-content>
