ion-app.app-root page-core-login-forgotten-password {
    //remove bottom line in input text
  .item-md.item-block .item-inner,
  .item-md.item-input.input-has-focus .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus)
    .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
  .list-md .item-input.input-has-focus:last-child,
  .list-md
    .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
  }
  .list-md .item-input.input-has-focus:last-child .item-inner,
  .list-md
    .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child
    .item-inner,
  .list-md
    .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child
    .item-inner {
    box-shadow: none;
  }  
  //set color place holder
  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
  //
    #dlt-header {
        .login-logo {
          height: 59px;
          width: auto;
          vertical-align: middle;
        }
    
        .toolbar {
          padding: 0;
          }
        
      }
    .container { 
        position: relative;
      }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 0;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 20px;
      }
    #toolbar-icon{
        height: 59px;
        width: auto;
        vertical-align: middle;    
      }
    .login-wrapper {
        background: url("../assets/img/bg-login.png") center center;
        background-size: cover;
    }
    #instructionText{
        color: white;
        font-size: 2rem;
        text-align: center;
    } 
    #form{
        padding-left: 20px;
        padding-right: 20px;
    }
    .input-text{
        height: 60px;
        background: none;
        font-size: 2rem;
        color: white !important;
        text-align: center;
    }
    .button-login {
        height: 60px;
        background: #b44f31;
        font-size: 2rem;
      }

    .border-radius {
        border: 2px solid white;
        border-radius: 10px !important;
      }
      
      .margin-bottom {
        margin-bottom: 20px !important;
      }
      
      hr{
          background: white;
          margin-top: 40px;
          margin-bottom: 40px;
      }
}
