<ion-card padding>
    <div class="header">
        <div class="course-name">{{course.fullname}}</div>
        <div class="core-button-spinner course-download-panel" *ngIf="downloadCourseEnabled">
                <!-- Download course. -->
                <button *ngIf="prefetchCourseData.prefetchCourseIcon != 'spinner'" ion-button icon-only clear color="dark" (click)="prefetchCourse($event)" [attr.aria-label]="prefetchCourseData.title | translate">
                    <core-icon [name]="prefetchCourseData.prefetchCourseIcon"></core-icon>
                </button>
                <!-- Download course spinner. -->
                <ion-spinner *ngIf="prefetchCourseData.prefetchCourseIcon == 'spinner'"></ion-spinner>
            </div>
    </div>
    

    <div  (click)="openCourse(course)" class="left-panel" [class.core-course-color-img]="course.imageThumb">
        <img-loader *ngIf="course.image" [src]="course.image"></img-loader> 
    </div>
    <div class="right-panel">
        <div class="top">
            <ion-icon name="time"></ion-icon>
            <span class="date-display">{{getDateTime(course.startdate)}}</span>
            <ion-icon name="arrow-round-forward"></ion-icon>
            <span class="date-display">{{getDateTime(course.enddate)}}</span>
        </div>    
        <ion-item *ngIf="course.progress != null && course.progress >= 0">
            <core-progress-bar [progress]="course.progress"></core-progress-bar>
        </ion-item>
        <div class="bottom">
            <div class="person-panel">
                <ion-icon name="person" class="person-icon"></ion-icon>
                <span>{{course.enrolledusercount}}</span>
            </div>  
            <button ion-button outline>Kế Hoạch</button>
            <button ion-button outline>Đăng Ký</button>           
        </div>
    </div> 
    <ng-content></ng-content>
</ion-card>
