ion-app.app-root page-addon-mod-scorm-player {
    .iconExpandCollapse{
        position: absolute;
        top: 32px;
        right: 32px;
        background: orange;
        color: white;
        opacity: 0.5;
    }
}